#accountButton {
  transition-duration: 0s;
  background-image: url("assets/buttons/account.png"), linear-gradient(rgb(75, 0, 173), rgb(255, 0, 212));
  background-repeat: no-repeat;
  background-position: center;
}
#accountButton::after {
  transition-duration: 0.7s;
}
#accountButton:hover {
  background-image: url("assets/buttons/account.png"), linear-gradient(rgb(48, 0, 110), rgb(255, 0, 157));
  color: rgb(255, 255, 255);
}
#accountButton[disabled=disabled], #accountButton:disabled {
  background-image: url("assets/buttons/account.png"), linear-gradient(rgb(104, 0, 240), rgb(110, 0, 92));
  color: rgb(89, 59, 255);
}

.startButtons {
  border-bottom-left-radius: 50px;
}

.characterChoose {
  background-repeat: no-repeat;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0px;
}

.characterChoose, div {
  background-color: cadetblue;
  margin: 0px;
}

#roomCodeDisplay {
  z-index: 3;
}