@font-face {
  font-family: joystixmonospace;
  src: url(assets/joystixmonospace.ttf);
}

body {
  margin: 10px;
  display: flex;
  background-color: rgb(47, 49, 51);

  justify-content: center;
  align-items: center;

  font-family: joystixmonospace, Arial, Helvetica, sans-serif;
}
#P5Container {
  font-family: joystixmonospace, Arial, Helvetica, sans-serif;
  position: relative;
  background-color: rgba(0, 0, 0, 0)
}

input {
  font-family: joystixmonospace, Arial, Helvetica, sans-serif;
  font-size: 24px;
  background-color: black;
  color: cyan;
  z-index: 1;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(78, 66, 187);
  opacity: 1; /* Firefox */
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(78, 66, 187);
}
input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(78, 66, 187);
}

button {
  font-family: joystixmonospace, Arial, Helvetica, sans-serif;
  font-size: 24px;
  background-image: linear-gradient(rgb(94, 0, 216), rgb(255, 0, 212));
  color: rgb(0, 255, 213);

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  z-index: 1;
  transition-duration: 0.7s;
}
button:hover {
  background-image: linear-gradient(rgb(48, 0, 110), rgb(255, 0, 157));
  color: rgb(255, 255, 255);
}
button[disabled=disabled], button:disabled {
  background-image: linear-gradient(rgb(104, 0, 240), rgb(110, 0, 92));
  color: rgb(89, 59, 255);
}